:root {
    --text-color: rgb(230, 210,  255);
    --background-color: rgb(50, 35, 75);
    --second-bg-color: black;
}

* {
    text-align: center;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, select, input {
    font-size: 1.4rem;
}

p {
    margin: 5px;
}

body, html {
    background-color: var(--background-color);
}

.grid-container {
    width: 100%;
    margin:  auto;
}

/* .grid-container > *:not(select, input) {
    float: left;
} */

select, input{
    display: inline-grid;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    margin: 5px auto;
    border: 2px var(--text-color) solid;
    border-radius: 5px;
    /* width: 70%; */
    padding: 5px;
}

label {
    font-size: 1.5rem;
}